.cmp-metamask-wrapper button.cmp-paybtn {
    margin-top: 10px;
}
button.cmp-popup-paybtn {
    background: #F5841F;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}
span.cmp-minmax {
    text-align: center;
    width: 100%;
    display: block;
    margin: 10px 0;
    font-size: 1.25em;
    font-weight: bold;
    border-bottom: 1px solid #050306;
    padding-bottom: 10px;
}
.cmp-metamask-wrapper button.cmp-popup-paybtn ,.cmp-metamask-wrapper button.cmp-metamask-btn{
    display: block;
    margin-top: 10px;
}
.cmp-metamask-wrapper span.cmp-input-msg {
    display: block;
}
.cmp-metamask-wrapper span.cmp-pop-user-msg ,.cmp-metamask-wrapper span.cmp-wallet-user-msg {
    color: red;
}
#cmp-metamask-wrap{
        padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
	max-width:400px;
    margin: 0 auto;
}